<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419049650866-nvcgurielf90ejei7g9fij9uhc0m8fea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419049650866-nvcgurielf90ejei7g9fij9uhc0m8fea</string>
	<key>API_KEY</key>
	<string>AIzaSyDLEfRlBqj5gQrmGznMMPZP_jhvvKX9rqU</string>
	<key>GCM_SENDER_ID</key>
	<string>419049650866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JacoboDHP.Follow-Thing</string>
	<key>PROJECT_ID</key>
	<string>follow-things</string>
	<key>STORAGE_BUCKET</key>
	<string>follow-things.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419049650866:ios:813ace1ae324bd4e25a7ab</string>
</dict>
</plist>